AndroidSoap/WS/Web References/servicio/WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://WS.PhotoSharing.unsa.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://WS.PhotoSharing.unsa.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://WS.PhotoSharing.unsa.com">
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xs:element name="servicio">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="servicioResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="servicioRequest">
    <wsdl:part name="parameters" element="ns:servicio" />
  </wsdl:message>
  <wsdl:message name="servicioResponse">
    <wsdl:part name="parameters" element="ns:servicioResponse" />
  </wsdl:message>
  <wsdl:portType name="WSPortType">
    <wsdl:operation name="servicio">
      <wsdl:input wsaw:Action="urn:servicio" message="ns:servicioRequest" />
      <wsdl:output wsaw:Action="urn:servicioResponse" message="ns:servicioResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSoap11Binding" type="ns:WSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="servicio">
      <soap:operation soapAction="urn:servicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSoap12Binding" type="ns:WSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="servicio">
      <soap12:operation soapAction="urn:servicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding" type="ns:WSPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="servicio">
      <http:operation location="servicio" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS">
    <wsdl:port name="WSHttpSoap11Endpoint" binding="ns:WSSoap11Binding">
      <soap:address location="http://192.168.1.34:8080/PhotoSharing/services/WS.WSHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSHttpSoap12Endpoint" binding="ns:WSSoap12Binding">
      <soap12:address location="http://192.168.1.34:8080/PhotoSharing/services/WS.WSHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSHttpEndpoint" binding="ns:WSHttpBinding">
      <http:address location="http://192.168.1.34:8080/PhotoSharing/services/WS.WSHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>